.dogcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  border: 2px solid;
  border-color: black;
  padding: 3px black;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.BGP {
  background-image: url("../components/images/perros2amplio.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  justify-content: center;
}
.auxFormC {
  height: 430px;
  width: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  border: 2px solid;
  border-color: rgb(34, 46, 80);
}
.formContainer {
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(188, 216, 193);
}
