.NavCont {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(8, 178, 227);
}
.pocket {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.footerbtn {
  color: rgb(72, 77, 109);
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
}

.navbar {
  height: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(8, 178, 227);
}

.logo {
  font-family: Haettenschweiler, Impact, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 64px;
  color: rgb(72, 77, 109);
}
:visited {
  color: rgb(72, 77, 109);
  text-decoration: none;
}

.logosp {
  font-family: Haettenschweiler;
  font-size: large;
  color: rgb(72, 77, 109);
}
.logosp:visited {
  color: rgb(72, 77, 109);
  text-decoration: none;
}
